ANTHROPIC_API_KEY=sk-ant-xxx
ANTHROPIC_BASE_URL=https://api.anthropic.com
LOGTO_ENDPOINT=https://i8a3uv.logto.app/
LOGTO_APP_ID=78s9jpal807pel5bgj88k
AXIOM_TOKEN=xaat-xxx
AXIOM_DATASET=legal-graph
CORS_ORIGIN=http://194.233.90.61:3457
